@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-murugan-dark text-white font-sans antialiased;
    overscroll-behavior: none;
  }
}

/* Custom scrollbar for web view */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
